<style>
    .companies-table {
        max-width: 600px;
    }
    .companies-table td {
        width: 25%;
        padding: 0 20px 0 20px;
        text-align: center;
        vertical-align: middle;
    }
    @media only screen and (max-width: 900px) {
        .companies-table {
            max-width: 100%;
            width: 100%;
        }
    }
</style>

<div class="center">
    <table class="companies-table">
        <tbody>
        <tr>
            <td><a href="https://www.intel.com"><img alt="Intel" src="/assets/img/about/logos/intel.png"></a></td>
            <td><a href="https://samsung.com/"><img alt="Samsung" src="/assets/img/about/logos/samsung.png"></a></td>
            <td><a href="https://www.huawei.com"><img alt="Huawei" src="/assets/img/about/logos/huawei.png"></a></td>
            <td><a href="https://cisco.com"><img alt="Cisco" src="/assets/img/about/logos/cisco.png"></a></td>
        </tr>
        <tr>
            <td><a href="https://www.tencent.com/en-us/index.html"><img alt="Tencent" src="/assets/img/about/logos/tencent.png"></a></td>
            <td><a href="https://www.google.com"><img alt="Google" src="/assets/img/about/logos/google.png"></a></td>
            <td><a href="http://www.nvidia.com"><img alt="NVidia" src="/assets/img/about/logos/nvidia.png"></a></td>
            <td><a href="https://www.netflix.com"><img alt="Netflix" src="/assets/img/about/logos/netflix.png"></a></td>
        </tr>
        <tr>
            <td><a href="https://www.adobe.com"><img alt="Adobe" src="/assets/img/about/logos/adobe.png"></a></td>
            <td><a href="https://www.broadcom.com"><img alt="Broadcom" src="/assets/img/about/logos/broadcom.png"></a></td>
            <td><a href="http://www.qualcomm.com"><img alt="Qualcomm" src="/assets/img/about/logos/qualcomm.png"></a></td>
            <td><a href="https://www.dolby.com"><img alt="Dolby" src="/assets/img/about/logos/dolby.png"></a></td>
        </tr>
        <tr>
            <td><a href="https://www.amd.com"><img alt="AMD" src="/assets/img/about/logos/amd.png"></a></td>
            <td><a href="https://www.mainconcept.com"><img alt="MainConcept" src="/assets/img/about/logos/main_concept.jpg"></a></td>
            <td><a href="http://www.dvbiptvott.com"><img alt="Telecast" src="/assets/img/about/logos/telecast.png"></a></td>
            <td><a href="https://www.vitec.com"><img alt="Vitec" src="/assets/img/about/logos/vitec.png"></a></td>
        </tr>
        <tr>
            <td><a href="http://www.ati.com"><img alt="ATI" src="/assets/img/about/logos/ati.png"></a></td>
            <td><a href="http://www.elgato.com"><img alt="Elgato" src="/assets/img/about/logos/elgato.png"></a></td>
            <td><a href="http://www.isphone.net"><img alt="ISPhone" src="/assets/img/about/logos/isphone.png"></a></td>
            <td><a href="http://www.voceweb.com"><img alt="Voceweb" src="/assets/img/about/logos/voceweb.png"></a></td>
        </tr>
        <tr>
            <td><a href="http://www.tataelxsi.com"><img alt="Tata Elxsi" src="/assets/img/about/logos/tata.png"></a></td>
            <td><a href="http://www.dicas.de"><img alt="dicas" src="/assets/img/about/logos/dicas.png"></a></td>
            <td><a href="http://www.kddilabs.jp/eng/index.html"><img alt="KDDI R&D labs" src="/assets/img/about/logos/kddi.png"></a></td>
            <td><a href="http://www.octasic.com"><img alt="Octasic" src="/assets/img/about/logos/octasic.png"></a></td>
        </tr>
        </tbody>
    </table>
</div>
