<div id="participate_div">
    <p style="font-size: medium">
        There are 3 easy steps to submit:
    </p>
    <ol style="font-size: medium">
        <li><b>Download the interlaced video <a
                href="https://drive.google.com/file/d/16f6c69Aq4vNpZ5sedGWpvWfzoyejhSR6/view?usp=sharing">here</a>.</b>

        </li>
        <br>
        <li><b>Deinterlace downloaded video</b>

        </li>
        <br>
        <li><b>Send us an email to <a href="mailto:deinterlacer-benchmark@videoprocessing.ai">deinterlacer-benchmark@videoprocessing.ai</a>
            with the following information: </b>
            <ul><b>A. </b>Name of the deinterlacing method that will be specified in our benchmark</ul>
            <br>
            <ul><b>B. </b>Link to the cloud drive (Google Drive, OneDrive, Dropbox, etc.), containing deinterlaced
                video.
            </ul>
        </li>
    </ol>

</div>
